footer {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	background: url(../../../public/img/bg_footer.png) no-repeat bottom center#1c1b21;
	background-size: 428px 280px;

	.content {
		width: $widthContent;
		margin: 0 auto;
		padding: 74px 0;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		opacity: 1;
		transform: none;
		transition: none;

		.left_box {
			width: 24%;
			h1 {
				a {
					display: block;
					width: 95px;
					height: 19px;
					background: url(../../../public/img/logo.png) no-repeat right center;
					background-size: 28px 19px;
					color: #fff;
					font-size: 16px;
					font-weight: 700;
					line-height: 19px;
				}
			}
			p {
				font-size: 17px;
				line-height: 1.5;
				color: $grey;
				margin: 32px 0 40px;
			}

			.sns {
				display: flex;
				justify-content: flex-start;
				align-items: center;
				gap: 13px;

				li {
					i {
						color: #fff;
					}
				}
			}
		}

		.right_box {
			width: fit-content;
			display: flex;
			justify-content: flex-end;
			align-items: flex-start;
			gap: 64px;

			.right_box_inner {
				h2 {
					font-size: 13px;
					color: #fff;
					font-weight: 500;
				}
				.line_deco {
					width: 35px !important;
					margin: 24px 0 !important;
				}
				li {
					font-size: 13px;
					color: $grey;
					line-height: 2.3;
					text-align: left;
				}
			}
		}
	}
}

@media screen and (max-width: 1440px) {
	$widthContent: 90%;
	footer {
		.content {
			width: $widthContent;
		}
	}
}

@media screen and (max-width: 1024px) {
	footer {
		background-size: 312px 204px;
		.content {
			.left_box {
				width: 35%;
			}
		}
	}
}

@media screen and (max-width: 970px) {
	footer {
		background: #1c1b21;
	}
}

@media screen and (max-width: 572px) {
	footer .content {
		flex-wrap: wrap;
		padding: 41px 0;
		.left_box {
			width: 100%;
			margin-bottom: 30px;
			p {
				margin: 32px 0 10px;
			}
			.sns {
				float: right;
			}
		}
		.right_box {
			gap: 15px;
		}
	}
}
