.Community {
	.content_wrap {
		position: relative;
		width: $widthSub;
		margin: 0 auto;
		padding-bottom: 150px;

		.inputBox {
			width: 100%;
			border: 1px solid #bbb;
			padding: 50px;
			margin-bottom: 50px;
			box-sizing: border-box;

			input[type='text'],
			textarea {
				width: 100%;
				padding: 8px 10px;
				font-family: 'Montserrat';
				color: #fff;
				font-size: 17px;
				line-height: 1.2;
				font-weight: 300;
				border: 1px solid transparent;
				border-image: linear-gradient(to right, $red 0%, $orange 100%);
				border-image-slice: 1;
				resize: none;
				margin-bottom: 10px;
				// background: #f4ffff;
				background: transparent;
				box-sizing: border-box;
			}

			.btnSet {
				text-align: right;
				button {
					width: 22%;
					height: 40px;
					border: 1px solid transparent;
					border-image: linear-gradient(to right, #cd5772 0%, #ce6a52 100%);
					border-image-slice: 1;
					margin-left: 10px;
					font-family: 'Montserrat';
					font-weight: 600;
					font-size: 14px;
					line-height: 38px;
					color: #fff;
					cursor: pointer;
					transition: 0.5s;
					background: none;

					&:hover {
						background-image: linear-gradient(to right, #cd5772, #ce6a52);
					}
				}
			}
		}

		.showBox {
			width: 100%;
			border: 1px solid #bbb;
			padding: 50px;
			box-sizing: border-box;

			article {
				display: flex;
				justify-content: space-between;
				align-content: center;
				flex-wrap: wrap;
				padding: 30px;
				margin-bottom: 40px;
				color: #fff;
				font-size: 17px;
				line-height: 1.2;
				font-weight: 300;
				background: transparent;
				border: 1px solid transparent;
				border-image: linear-gradient(to right, $red 0%, $orange 100%);
				border-image-slice: 1;
				box-sizing: border-box;

				.txt {
					width: 100%;

					h2 {
						margin-bottom: 10px;
					}
					input,
					textarea {
						width: 100%;
						padding: 8px 10px;
						border: 1px solid lightblue;
						margin-bottom: 20px;
						background: #f4ffff;
						resize: none;
						outline: none;
						box-sizing: border-box;
					}
				}
				.btnSet {
					width: 100%;
					display: flex;
					align-items: center;
					justify-content: flex-end;
					gap: 20px;

					button {
						border: none;
						background: transparent;
						cursor: pointer;
						&:nth-of-type(1) {
							color: orange;
						}
						&:nth-of-type(2) {
							color: orangered;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	.Community {
		> .inner {
			.inputBox {
				input[type='text'],
				textarea {
					width: 100%;
				}
				.btnSet {
					display: flex;
					flex-wrap: wrap;
					justify-content: space-between;

					button {
						width: 47%;
						margin-right: 0;
					}
				}
			}

			.showBox {
				article {
					.txt,
					.btnSet {
						width: 100%;
						margin-top: 20px;
					}
				}
			}
		}
	}
}
